* {
    margin: 0px;
    padding: 0px;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

h1{
    color: #FFF;
    font-family: "Pixelify Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px; 
}

h5{
    flex-shrink: 0;
    color: #FFF;
    font-family: "Pixelify Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 4px;
    margin-bottom: 0px;
}

#create-hub-header{
    font-size: 30px;
    margin-top: 10px;
}

#chat-box {
    width: 180px;
    padding: 10px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 40px;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.50); 
    position: absolute;
    right: 10px;
    bottom: 65px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 3;
}

#chat-box.expanded {
    padding-top: 20px;
    max-height: calc(100vh - 80px);
    overflow: hidden;
    width: 250px;
}

#message-section {
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
}

#message-section.expanded {
    overflow-y: auto;
    height: 100%;
}

#chat-input {
    --bs-body-bg: rgba(0, 0, 0, 0.50);
    --bs-body-color: white;
    height: 30px;
}

.rotated {
    transform: rotate(180deg);
}

.message {
    margin-top: 5px;
    margin-bottom: 8px;
    color: #FFF;
    font-family: "Pixelify Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

#chat-toggle-button {
    position: absolute;
    top: 10px; 
    right: 10px;
    transition: transform 0.5s ease;
    z-index: 4;
}

#chat-send {
    display: none;
}

#chat-send.visible{
    display: block;
}

h2{
    color: #FFF;
    font-family: "Pixelify Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin: 0px;
}

form > h2{
    color: #FFF;
    font-family: "Pixelify Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    margin-bottom: 3px; 
    text-decoration: underline;
}

div{
    font-family: "Pixelify Sans";
    color: #FFF;
    font-size: 20px;
}

button{
    border: none;
}

.centered{
    text-align: center;
}

a{
    text-decoration: none;
}

label{
    color: #E1E1E1;
}

header{
    display: flex;
    width: 100%;
    position: relative;
    padding-top: 20px;
}

#wrapper{
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
    position: relative;
    overflow-x : hidden;
    overflow-y: hidden;
}

#padding-wrapper{
    margin-left: 20px;
    margin-right: 20px;
}

#logo{
    position: absolute;
    left: 0;
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 50px;
    height: 57px;
    z-index: 3;
}

#avatar-name{
    color: #002D42;
    text-align: center;
    font-family: "Pixelify Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

#avatar-lvl{
    color: #1E3847;
    text-align: center;
    font-family: "Pixelify Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.settings-button{
    width: 28px;
    height: 27px;
    background:  url("../images/icons/cog.svg");
}

.options{
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    z-index: 3;
}

.background-blue{
    background-color: #03334A;
}

.name-tag-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 3px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 0.70);
}

.name-tag-container > p{
    color: #002D42;
    text-align: center;
    font-family: "Pixelify Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.name-tag-container > img{
    width: 20px;
    height: 20px;
}

.flex-container{
    display: flex;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.flex-container-left-align{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-switch .form-check-input,
.form-switch .form-check-input:checked,
.form-switch .form-check-input:focus{
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='rgba%280, 45, 66, 1%29'/%3e%3c/svg%3e");
    width: 45.115px;
    height: 23px; 
}


.form-check-input:checked {
    background-color: #588DA6;
    border-color: #588DA6;
}

.form-check-input:focus {
    outline: none;
    box-shadow: none;
}

.badge-image-ex {
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin-top: 5px;
}

.image-checkbox {
    text-align: center; 
}

.image-checkbox input[type="radio"] {
    display: block;
    margin: auto;
}

#avatar-profile{
    position: relative;
    width: 110px; 
    height: 118px; 
    margin: 0 auto; 
    z-index: 3;
}

#avatar-bg,
#avatar-img,
#avatar-border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar{
    object-fit: contain;
    height: 55.172px; 
    max-width: 80px;
    z-index: 1;
}

.avatar-container{
    position: absolute;
    transform: translate(-50%, -50%);
}

#avatar-img{
    object-fit: cover;
    object-position: 50% 50%;
    width: 90%;
    height: 80%;
    border-radius: 50%;
}

#avatar-bg{
    object-fit: cover;
    object-position: 50% 50%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

#avatar-lvl,
#avatar-name{
    background: #E1E1E1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 20px; 
}

#avatar-lvl{
    top: 0;
    min-width: 20px;
}

#avatar-name{
    bottom: 0;
    min-width: 110px;
}

#avatar-name > p,
#avatar-lvl > p{
    font-weight: 600; 
}

.search-container{
    position: relative;
}

#search-delete-button{
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 10px;
}

#search-options{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 10px;
}

#sort-select{
    width: 140px; 
}

#hour-dropdown{
    width: 114px; 
}

.svg-button{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
}

.bg-map{
    background: url("../images/map_1.jpg");
    background-size: cover;
    background-position: center; 
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.dropdown-extend{
    background-color: #D9D9D9;
    color: #002D42;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.dropdown-menu{
    padding: 0px;
    --bs-dropdown-link-active-bg: #002D42;
    --bs-dropdown-border-radius: 0px;
    font-family: "Pixelify Sans";
}

.dropdown > ul{
    color: #002D42;
    font-family: "Pixelify Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.dropdown-menu.fix{
    --bs-dropdown-border-radius: 4px;
}

.btn-extend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    color: #002D42;
    background-color: #D9D9D9;
    font-family: "Pixelify Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    --bs-btn-border-color: none;
    border-radius: 3px;
}

.btn-extend.clean{
    padding: 0px;
    background-color: #FFF0;;
    color: #D9D9D9;
    font-family: "Pixelify Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.btn-extend.clean:hover{
    color: #d9d9d995;
}

button > p{
    margin: 0;
}

#search-bar{
    width: 140px;
    height: 25px; 
    border-radius: 3px; 
    border: none;
    background-color: #D9D9D9;
    color: #A4A4A4; 
    font-size: 12px;
    padding: 10px 30px 10px 30px;
}

#search-button{
    margin: 0;
}

.trash-button{
    position: absolute;
    top: 8px;
    right: 5px;
    width: 20px;
    height: 20px;
}

.add-hub-button{
    width: 20px;
    height: 20px;
}

.add-hub-button:hover{
    background-color: rgba(0,0,0,.4);
    background-blend-mode: multiply;
}

.list-item{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #002D42;
    height: 120px;
    width: 100%;
    padding: 16px 20px;
    padding-right: 10px;
    box-sizing: border-box;
}

.list-item-alternate{
    background-color: #03334A;
}

.clear{
    clear: both;
    height: 60px;
}

footer{
    position: fixed;
    left: 50%;
    bottom: 0;
    display: flex;
    width: 100%;
    max-width: 1000px;
    transform: translate(-50%, 0%);
    z-index: 3;
}

footer > a{
    background: url("../images/button.png");
    height: 45px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; 
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
}

footer > a:hover{
    background-color: rgba(0,0,0,.4);
    background-blend-mode: multiply;
}

.selected{
    background-color: rgba(0,0,0,.2);
    background-blend-mode: multiply;
}

#lookup-icon,
#friends-icon{
    min-width: 20px;
    height: 20px; 
}

.search-icon{
    background: url("../images/icons/search.svg");
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    height: 15px;
    width: 15px; 
    color: #aaa;
    pointer-events: none; 
    display: inline-block;
}

.plus-icon{
    background: url("../images/icons/plus.svg");
    width : 20px;
    height: 20px;
}

.delete-icon{
    background: url("../images/icons/delete-keyboard.svg");
    display: inline-block;
    height: 15px;
    width: 20px;
}

#lookup-icon{
    background: url("../images/icons/lookup.svg");
}

#home-icon{
    width: 28px;
    height: 18.667px; 
    background: url("../images/icons/joystick.svg");
}

#friends-icon{
    background: url("../images/icons/group.svg");
}

.trash-icon{
    background: url("../images/icons/trash.svg");
    width: 20px;
    height: 20px;
}

#hub-status > .avatar-icon{
    margin-top: 4px;
    margin-right: 4px;
}

.avatar-icon {
    background: url("../images/placeholder.png");
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 50%;
}

.friend{
    border: 0.5px solid #6BF51F;
}

.text-open{
    margin-right: 16px;
    color: #6BF51F;
}

.text-close{
    margin-right: 16px;
    color: #F51F1F;
}

#hub-status{
    text-align: center;
}

#hub-images-section{
    align-items: flex-end;
    gap: 4px;
}

.badge-image{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.badge-image.large{
    width: 57px;
    height: 58px;
    margin-bottom: 11px; 
}

.not-collected{
    opacity: 0.5;
}

#hub-list{
    padding: 0;
    margin: 0;
}

.hub-logo{
    height: 90px;
    width: 90px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

.location-icon{
    background: url("../images/icons/location.svg");
    background-repeat: no-repeat;
    background-position: center; 
    width: 16px;
    height: 18px;
    margin-left: 12px;
    margin-bottom: auto;
    flex-shrink: 0;
}

.menu-burger-icon{
    background: url("../images/icons/menu-burger.svg");
    background-repeat: no-repeat;
    background-position: center; 
    width: 17px;
    height: 20px;
}

.down-arrow-icon{
    width: 17px;
    height: 12px;
    background-color: #002D42;
    -webkit-mask: url("../images/icons/arrow_down.svg") no-repeat center;
    mask: url("../images/icons/arrow_down.svg") no-repeat center;
}

.svg-white{
    background-color: white;
}

/*hub-page*/
.fix-gap{
    gap: 18px;
}
.hub-page-wrapper{
    background-color: #002D42;
}

.flex-container-row{
    display: flex;
    flex-direction: row;
}

#left-column{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-top: 20px;
    gap: 11px;
}
.hub-page-logo{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 15px;
}
.align-badge{
    align-self: center;
}

#right-column{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;

}
#hun-title-x{
    display: flex;
    justify-content: space-between;
}

#hun-title-x h1{
    font-size: 18px;
    width: auto;
    height: auto;
}
#x-icon{
    background: url("../images/icons/x.svg");
    background-repeat: no-repeat;
    background-position: center; 
    width: 20px;
    height: 20px;
}
#head-info{
    display: flex;
    margin-top: 10px;
    flex-direction: column;

}

.phone-icon{
    background: url("../images/Icons/phone.svg");
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-position: center; 
}
.rating-icon{
    background: url("../images/Icons/stars-rating.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 16px;
    margin-right: 10px;
    flex-shrink: 0;
}


#google-link{
    color: #5BDDEB;
    font-family: "Pixelify Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline; 
}

#MO-passing-imgs{
    background: #384248;
}
.carousel {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    width: 85%;
    height: 100%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


.fixed-size-image{
    object-fit: contain;
    max-width: none;
    border-radius: 15px;
}

.img-h{
    height: 180px !important;
}


.about-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-container h3 {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p-more-container
{
    display:flex;
    flex-wrap: wrap; 
    align-items: flex-end;
}
.p-more-container p{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
#content-section {
    position: relative;
    margin: 20px;
}

#content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    transition: max-height 0.5s ease;
}

#content.expanded {
    -webkit-line-clamp: unset; 
    max-height: none;
}

#more-link {
    background-color: #002D42;
    color: #5BDDEB;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    align-self:auto;
    cursor: pointer;
}

#more-link:hover {
}

.stations-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 34px;    
    row-gap: 15px;
}

.stations-list > section {
    width: 140px;
    height: 95px; 
    flex-shrink: 0;
    border-radius: 8px;
    background-color:#1E3847;
    display: flex;
    gap: 8px;
}

.stations-list > section > img  {
    width: 60px;
    height: 60px;
    object-fit: contain;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #FFF;
}

.stations-list > section > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
    font-family: "Pixelify Sans";
    font-size: 12px;
    height: auto;
    width: 74px;
}

.company-logo {
    height: 15px;
    width: 15px;
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
}
.company-logo > img{
    height: 15px;
    width: 15px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}
.card-container {
    display: flex;
}

.stations-list> section .avatar-present{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.player-number{
    display: flex;
    width: 84px;
    height: 17px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 0px;
}

.avatar-present{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 60px;
}

.info-line{
    margin-bottom: 10px;
}

.info-line.fix{
    margin-bottom: 7px;
}
